<%= render partial: "/admin/header", locals: {heading: "#{@application.name}'s Application"} %>

<p>Name: <%= @application.name %></p>
<p>Address: <%= "#{ @application.street }" %>
<%= "#{@application.city}, #{ @application.state }   #{ @application.zip }" %></p>
<p>Applicants reason: <%= @application.applicant_argument %></p>
Pet(s) applied for: 
<ul>
  <% @application_pets.each do |app_pet|%>
    <div id="<%= app_pet.pet.id %>">
      <li><%= app_pet.pet.name %>
      <% if app_pet.status == "Pending" %>
        <% if app_pet.pet.adoptable %>
          <%= button_to "Approve", "/admin/applications/#{ @application.id }?pet_id=#{app_pet.pet.id}&app_pet_id=#{ app_pet.id }", method: :patch %>
        <% else %>
          <%= "This pet has already been approved for adoption" %>
        <% end %>
          <%= button_to "Reject", "/admin/applications/#{ @application.id }?reject_pet_id=#{app_pet.pet.id}&app_pet_id=#{ app_pet.id }", method: :patch %>
      <% else %>
        <b><%= "#{app_pet.status}" %></b>
      <% end %>
    </div>
  <% end %>
</ul>


<p>Application Status: <%= @application.app_status %></p>