<%= render partial: "/admin/header", locals: {heading: @shelter_name_address.name} %>
<p>Full Address: <%= "#{@shelter_name_address.street}, #{@shelter_name_address.city}, #{@shelter_name_address.state}, #{@shelter_name_address.zip}" %>

<h3>Shelter Statistics:</h3>
<p>Average adoptable pet age: <%= number_with_precision @avg_pet_age, :precision =>2 %></p>
<p>Number of Adoptable Pets: <%=  @num_of_adoptable_pets %></p>
<p>Number of Adopted Pets: <%=  @num_of_adopted_pets %></p>